body {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    flex-grow: 1;
}
.hero {
    background-color: #1f2937;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    flex-grow: 1;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-grow: 1;
}

.titulo-seccion {
    align-self: center;
    text-align: center;
}

.tarjetas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tarjetas {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
    flex-shrink: 1;
    flex-basis: 120px;
}

.tarjeta img {
    width: 100px;
    height: auto;
    border-radius: 2px;
    border-color: #3882f6;
}

.tarjetas p {
    text-align: center;
}
